<h2>Commentaires</h2>
{% if comments %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="?sorting-by=recent">Recent</a>
    <a class="dropdown-item" href="?sorting-by=popular">Popular</a>
  </div>
</div>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
  {% for comment in comments %}
  <div class="card bg-light mb-3" style="max-width: 50vw; min-width: 200px">
    <div class="card-header">
    <h4>{{comment.author}}</h4>
    <span>{{comment.created}}</span>
    <span>{{comment.votes}}</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{comment.side}}</h5>
      <p class="card-text">{{comment.content}}</p>
    </div>
  </div>  
  {% endfor %}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% else %}
<p>No comments yet !</p>
{% endif %}