<h2>Commentaires</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% if comments %}
{# <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> #}
<div class="sort">
  <h4>Sort by</h4>
  <a href="?sorting-by=recent">Recent</a>
  <a href="?sorting-by=popular">Popular</a>
</div>

  {% for comment in comments %}
  <div class="container card bg-light mb-3" style="max-width: 50vw; min-width: 200px">
    <div class="card-header">
    {% if comment.reference.isAuthor(app.user)%}
    <a href="/comment/{{comment.id}}/delete">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
    {% endif %}
    <h4>{{comment.author}}</h4>
    <span>{{comment.created}}</span>
    <span class="comment_votes">{{comment.votes}}</span>
    <a onclick="ajaxUpvote('{{comment.content}}', this)" class="nav_link">Vote for this</a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{comment.side}}</h5>
      <p class="card-text">{{comment.content}}</p>
    </div>
  </div>  
  {% endfor %}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
  <script>
  function ajaxUpvote(content,element) {
        var formData = new FormData();
        formData.append('content', content);
        fetch('{{path('comment_upvote')}}',{method: 'POST',body: formData})
        .then(() => {
          let closest = element.closest('.container')
          let votes = closest.querySelector('.comment_votes');
          let number = Number(votes.innerHTML) + 1;
          votes.innerHTML = number;
        })
    }
  </script>
{% else %}
<p>No comments yet !</p>
{% endif %}
